
body { position:relative; font-size:16px; font-family:Aria, Microsoft JhengHei; }
body a { cursor:pointer; }


.sysFooter { overflow:visible; height:110px; width:100%; background-color: #F5F5F5; margin-top:20px; }
    .sysFooter .footerContainer { margin-top:-20px; background-color:#EDECEC; height:90px; }
    .sysFooter  .copyright{ line-height:40px; font-size:12px; }
        .sysFooter .footerContainer .footerContent { padding-top:27px; }
            .sysFooter .footerContent .mediumDivider{ margin-top:5px; border-top:2px solid #333; }
            .sysFooter .footerContent .footerLink a{ padding-bottom: 1px; box-sizing:border-box; font-size:14px; font-weight:bold; color:#333; text-decoration:none; }
            .sysFooter .footerContent .footerLink a:hover{ border-bottom:2px solid; }
    .sysFooter .copyright{ font-size:12px; }
        .sysFooter .socialMedia { vertical-align:bottom; height: 17px; margin:0 auto; margin-top:4px; }
            .sysFooter .socialMedia .ig { display:inline-block; margin:0 16px 0 0; width:15px; height:15px; background:url('../../imgs/social.svg') no-repeat 0 0; }
            .sysFooter .socialMedia .ig:hover { background:url('../../imgs/social_after.svg') no-repeat 0 0; }
            .sysFooter .socialMedia .tr { display:inline-block; margin:0 18px 0 0; width:9px; height:15px; background:url('../../imgs/social.svg') no-repeat -35px 0; }
            .sysFooter .socialMedia .tr:hover { background:url('../../imgs/social_after.svg') no-repeat -35px 0; }
            .sysFooter .socialMedia .tt { display:inline-block; margin:0 19px 0 0; width:15px; height:15px; background:url('../../imgs/social.svg') no-repeat -66px 0; }
            .sysFooter .socialMedia .tt:hover { background:url('../../imgs/social_after.svg') no-repeat -66px 0; }
            .sysFooter .socialMedia .pin { display:inline-block; margin:0 19px 0 0; width:11px; height:15px; background:url('../../imgs/social.svg') no-repeat -102px 0; }
            .sysFooter .socialMedia .pin:hover { background:url('../../imgs/social_after.svg') no-repeat -102px 0; }
            .sysFooter .socialMedia .fb { display:inline-block; margin-top:0; width:7px; height:15px; background:url('../../imgs/social.svg') no-repeat -138px 0; }
            .sysFooter .socialMedia .fb:hover { background:url('../../imgs/social_after.svg') no-repeat -138px 0; }


.sysBar{ position:relative; width:100%; height:80px; z-index:9999; }
    .sysBar .logo { display:block; background-image:url('../../imgs/logo_white.png'); width:16.67%; height:84px; background-size:100% auto; background-repeat:no-repeat; }
    .sysBar .cartBlock { position:absolute; bottom:30px; right:60px; font-size:16px; font-weight:bold; }
    .sysBar .cartBlock a { color:#333; text-decoration:none; }
    .sysBar .menu { position:fixed; top:150px; left:60px; width:68px; height:40px; overflow:hidden; background-image:url('../../imgs/menu.svg'); cursor:pointer; }
    .sysBar .menu:hover { background-image:url('../../imgs/menu_after.svg'); }
    .sysBar .menuBox { position:fixed; top:150px; left:-40%; transition:left 0.5s; padding-left:0; }
    .sysBar .menuBox.active { left:0; }
        .sysBar .menuBox .menuOuter{ width:calc(100% - 66px); background-color:#C7C8C8; padding-top:30px; padding-bottom:30px; box-shadow:4px 2px 25px -7px #1A1919; -webkit-box-shadow:4px 2px 25px -7px #1A1919; -moz-box-shadow:4px 2px 25px -7px #1A1919; -o-box-shadow:4px 2px 25px -7px #1A1919; }
            .sysBar .menuBox .menuOuter .menuItem{ width:calc(100% + 20px); margin-left:46px; padding-top:40px; padding-bottom:40px; padding-left:41px; background-color:#888; box-shadow:4px 2px 25px -7px #1A1919; -webkit-box-shadow:4px 2px 25px -7px #1A1919; -moz-box-shadow:4px 2px 25px -7px #1A1919; -o-box-shadow:4px 2px 25px -7px #1A1919; }
                .sysBar .menuBox .menuOuter .menuItem .closeMenuBtn{ width:17px; margin-bottom:24px; cursor:pointer; }
                .sysBar .menuBox .menuOuter .menuItem ul.menuList{ list-style:none; margin:0; padding:0; }
                    .sysBar .menuBox .menuOuter .menuItem ul.menuList li.item{ display:block; cursor:pointer; font-size:14px; line-height:14px; font-weight:bold; }
                    .sysBar .menuBox .menuOuter .menuItem ul.menuList li.item:not(:first-child){ margin-top:24px; }
                        .sysBar .menuBox .menuOuter .menuItem ul.menuList li.item .content{ display:inline-block; color:#FFF; }
                            .sysBar .menuBox .menuOuter .menuItem ul.menuList li.item .content a{ color:#FFF; text-decoration:none; }
                        .sysBar .menuBox .menuOuter .menuItem ul.menuList li.item .content .border{ width:0; margin-top:4px; border-top:1px solid #FFF; transition:width 0.1s; }
                        .sysBar .menuBox .menuOuter .menuItem ul.menuList li.item .content:hover .border{ width:100%;  }

@media screen and ( max-width:991px ) {

    .sysBar .logo { position:fixed; top:25px; width:100%; text-align:center; left:0; }
    .sysBar .cartBlock { right:40px; }
    .sysBar .menu { left:40px; top:21px; background-position-x:-32px; background-repeat-x:no-repeat; }
    .sysBar .menuBox { top:101px; }
        .sysBar .menuBox .menuOuter{ width:calc(100% - 14px); }
        .sysBar .menuBox .menuOuter .menuItem{ width:calc(100% + 14px); }


    .newsletterModal#myModal { height:254px; top:calc(50% - 127px) !important; overflow:visible; }
    .newsletterModal .modal-dialog { margin:0 auto; }
        .newsletterModal .modal-content { width:460px; height:254px; margin:0 auto; }


    .newsletter .box {}
        .newsletter .image { display:none; }
        .newsletter .info { margin-left:0; width:100%; }
            .newsletter #newsletterEmail { width:255px; }
            .newsletter .submit { width:104px; }
            .newsletter .desc { margin-bottom:12px; }

}
